/* Style for the speaker section */
.speaker {
  text-align: center;
}


.organizers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.organizer-profile {
  flex: 0 0 30%; /* Adjust the percentage to control the number of columns */
  text-align: center;
  margin-bottom: 20px;
}

/* Add responsive behavior */
@media (max-width: 768px) {
  .organizer-profile {
    flex: 0 0 100%; /* Each profile takes full width on smaller screens */
  }
}

.organizer-profile img {
  width: 150px; /* Fixed width for the images */
  height: 150px; /* Fixed height for the images to make them square */
  border-radius: 50%; /* This will make them circular */
  object-fit: cover; /* This will ensure the images cover the area without stretching */
  display: block; /* Centers image in the container */
  margin-left: auto;
  margin-right: auto;
}


/* for SynBio Canada */
.organizer-profile2 {
  flex: 0 0 30%; /* Adjust the percentage to control the number of columns */
  text-align: center;
  margin-bottom: 20px;
}

/* Add responsive behavior */
@media (max-width: 768px) {
  .organizer-profile {
    flex: 0 0 100%; /* Each profile takes full width on smaller screens */
  }
}

.organizer-profile2 img {
  width: 600px; /* Fixed width for the images */
  height: 200px; /* Fixed height for the images to make them square */
  object-fit: cover; /* This will ensure the images cover the area without stretching */
  display: block; /* Centers image in the container */
  margin-left: auto;
  margin-right: auto;
}

/* Style for social icons */
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 5px;
  display: inline-block;
}

.center-text {
  text-align: center;
}

/* register-button */
.register-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Bootstrap primary blue for example */
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.register-button:hover {
  background-color: #0056b3; /* A darker blue */
  cursor: pointer;
}


/* contact form */

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* for program schedule */


.day-planner table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.day-planner th {
    background-color: #4c7d7e; /* Dark header background */
    color: white;
    text-align: center;
}
.day-planner td {
    padding: 15px;
    text-align: center;
    border: 1px solid #dddddd;
}
.day-planner .misc {
    background-color: #eaeaea; /* Light gray for time slots */
}
.day-planner .keynote1, .day-planner .oral1{
    background-color: #bada55; /* Light yellow for keynotes and oral presentations */
}
.day-planner .keynote2,.day-planner .oral2 {
    background-color: #fff2cc; /* Light yellow for keynotes and oral presentations */
}
.day-planner .keynote3,.day-planner .oral3 {
    background-color: #FFCAFD; /* Light yellow for keynotes and oral presentations */
}
.day-planner .keynote4,.day-planner .oral4 {
    background-color: #83c8ef; /* Light yellow for keynotes and oral presentations */
}
  .day-planner .break {
    background-color: #eaeaea; /* Light green for breaks */
  }
  .day-planner .food {
    background-color: #f4cccc; /* Light red for food slots */
  }
  .day-planner .poster {
    background-color: #d9ead3; /* Light purple for poster sessions */
  }
  .day-planner .session-title {
    font-weight: bold;
  }

